html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul#menu 
        li 
            a(href="/products") Home 
        li 
            a(href="/contactUs") Contact US
    hr
    block content
    hr
    p this is footer h
